body {
    font-family:monospace;
    background-color:hsl(0, 0%, 8%);
    height:100%;
}
.main-screen {
    background-color:hsl(0, 0%, 12%);
    width:400px;
    border-radius: 10px;
    height:650px;
    margin: auto;
    margin-top: 80px;
    padding-top:30px;
}
img{
    display:block;
    margin:auto;
    margin-top: 20px;
    margin-bottom:20px;
    border-radius:50%;
}
h2 {
    font-family:Helvetica;
    text-align:center;
    color:hsl(75, 94%, 57%);
}
p {
    text-align:center;
    font-size:18px;
    font-weight:bold;
    color:blueviolet;
}
.links {
    font-weight: bold;
    background-color:hsl(0, 0%, 20%);
    width: 250px;
    height: 20px;
    margin: auto;
    padding:10px;
    margin-top: 15px;
    border-radius: 10px;
    text-align:center;
}
.links:hover {
    background-color: rgb(119, 190, 11);
}
a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

